* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: sans-serif;
    text-decoration: none;
}

aside {
    background-color: green;
    width: 25%;
    height: 145vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

aside img {
    margin-bottom: -50px;
}

main {
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    background-color: brown;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}

.sections {
    padding: 5% 5% 4% 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.aside-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.aside-icons img {
    width: 20%;
}

.aside-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 55%;
}

aside h1 {
    font-style: italic;
    font-size: 60px;
}

aside h3 {
    color: white;
    font-weight:lighter;
}

.section-sobre h2 {
    margin-bottom: 40px;
}

.section-sobre {
    margin-bottom: 40px;
}

.proyecto-imagenes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-right: 90px;
}

.button-home {
    margin-top: 30px;
    width: 150px;
    height: 30px;
    background-color: rgb(0,65,87);
    color: white;
}

.button-home a {
    text-decoration: none;
}

.button-home:hover {
    border: 2px solid rgb(0,65,87);
    background-color: white;
    color: rgb(0,65,87);
}

strong {
    font-size: 30px;
    color: rgb(0,65,87);
    font-family: sans-serif;
}

.texto-sigue {
    color: rgb(0,65,87);
    font-family: sans-serif;
    font-size: 20px;
}

.error-img {
    width: 200px;
    align-self: center;
}
